body{

}

.watermelon h2 {
  background-color: #e97065;
  font-family: "Rammetto One", cursive;
}

.starfruit h2 {
  background-color: #fbd25e;
  font-family: "Gravitas One", cursive;
}

.permission h2 {
  background-color:#e86033;
  font-family: "Comfortaa", cursive;
}

p {
  font-family: "Open Sans" , sans-serif;
}
